* {
  box-sizing: border-box;
}

html,
body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 75%;
  margin: 0 auto;
}
.space {
  min-height: 100px;
}
.sticky_parent {
  height: 300vh;
}

.sticky {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
}

.scroll_section {
  position: absolute;
  top: 0;
  height: 100%;
  width: 300vw;
  will-change: transform;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.w_100 {
  width: 100vw;
}

nav {
  width: 100%;
  height: 100px;
  background-color: black;
  color: #bbbbbb;
  position: sticky;
  top: 0;
  z-index: 99;
}

.nav-container {
  display: flex;
  align-items: center;
  height: 100px;
}

.nav-item-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 24px;
  position: relative;
}

.nav-item a,
.nav-item a:visited,
.nav-item a:active,
.nav-item a:hover {
  font-size: 18px;
  font-weight: 100;
  color: #bbbbbb;
  text-transform: uppercase;
  text-decoration: none;
}
.dropdown-content {
  position: absolute;
  top: 50px;
  background-color: black;
  text-align: left;
  min-width: 100px;
  display: none;
  color: #4687c4;
  font-size: 12px;
  border: 1px solid #4687c4;
}
.height {
  min-height: 5px;
}
.dropdown-content a {
  display: block;
  padding: 5px 15px;
}

.dropdown-content a:hover {
  background-color: #4687c4;
}

.nav-item:hover .dropdown-content {
  display: block;
}

.logo {
  height: 75px;
}

.bar {
  height: 50px;
}

.main_container {
  width: 100%;
  background-color: black;
  margin-top: 20px;
  display: flex;
  margin-bottom: 100px !important;
}

.font_im {
  height: 589px;
  width: 670px;
  margin-left: auto;
  margin-right: auto;
}

.front_info {
  flex: 1;
  padding: 20px;
}

.info {
  font-size: 32px;
  font-weight: bold;
  color: #4687c4;
  margin-top: 70px;
  margin-left: 50px;
}

.heading {
  font-size: 32px;
  font-weight: bold;
  color: #4687c4;
}

.sub_heading {
  font-size: 18px;
  font-weight: 600;
  color: #bbbbbb;
  margin-right: 20px;
}
.line {
  width: 45%;
  margin-left: 0;
  margin-top: 30px;
  color: #4687c4;
  border: 2px solid #4687c4;
}

.detail {
  font-size: 16px;
  font-weight: 500;
  color: #6e6c6c;
  margin-top: 70px;
  margin-right: 50px;
}

.Give_us_shout {
  width: 100%;
  background-color: black;
  margin-top: 50px;
  display: flex;
  flex-direction: row-reverse;
}
.margin {
  margin-top: 50px;
}

.form_grp {
  color: #d9d9d9;
  margin-top: 10px;
}

.form-control {
  width: 632px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}
.submit-btn {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  background-color: white;
  color: black;
  border: none;
}

.submit-btn:hover {
  cursor: pointer;
}
.vertical_line {
  width: 10px;
  height: 90px;
  background-color: #4687c4;
  margin-top: 125px;
  margin-left: 70px;
}

.info-2 {
  width: 100%;
  font-size: 32px;
  margin-top: 100px;
  text-align: center;
  color: #ffffff;
}
.color-grp {
  color: #4687c4;
}

.links {
  color: #d9d9d9;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}
.social-links {
  margin-top: 30px;
}
.social {
  width: 50px;
  height: 50px;
}

/* Menu Page/ second_page */

.box {
  display: flex;
  margin-top: 30px;
}

.text {
  background-color: #d9d9d9;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box-title {
  font-size: 32px;
}
.sub {
  font-size: 20px;
}
.arrow {
  width: 150px;
  height: 100%;
}

/*Web Application Development/ third_page/Custom Software Development/ fourth_page/counseling/digital marketing */

.serve-container {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.serve {
  padding: 70px 200px 70px 200px;
  flex-grow: 1;
}

.heading {
  font-size: 36px;
  color: #4687c4;
}
.line2 {
  width: 35%;
  margin-left: 0;
  margin-top: 80px;
  color: #d9d9d9;
  border: 2px solid #d9d9d9;
}

.para {
  margin-top: 30px;
  color: #d9d9d9;
  font-size: 20px;
}
.arrow-up img {
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 38%;
  margin-right: 42px;
  height: 25px;
}

.next {
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 50%;
  height: 100px;
  margin-right: 60px;
}

.arrow-down img {
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 70%;
  margin-right: 42px;
  height: 25px;
}

/* technology */

.head_container {
  width: 100%;
  background-color: black;
  margin-top: 60px;
  display: flex;
}

.tech_im {
  height: 360px;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}
.vertical_line {
  width: 6px;
  height: 120px;
  background-color: #4687c4;
  margin-top: 100px;
  margin-left: 100px;
}

.front_info {
  flex: 1;
  padding: 20px;
}

.info {
  font-size: 32px;
  font-weight: bold;
  color: #4687c4;
  margin-top: 80px;
  margin-left: 50px;
}

.heading {
  font-size: 32px;
  font-weight: bold;
  color: #4687c4;
}

.sub_heading {
  font-size: 18px;
  font-weight: 600;
  color: #bbbbbb;
  margin-right: 20px;
}
.line {
  width: 45%;
  margin-left: 0;
  margin-top: 30px;
  color: #4687c4;
  border: 2px solid #4687c4;
}

.detail {
  font-size: 16px;
  font-weight: 500;
  color: #6e6c6c;
  margin-top: 70px;
  margin-right: 50px;
}

/* client */

.client_container {
  width: 100%;
  background-color: black;
  margin-top: 100px;
}

.client_text {
  color: #4687c4;
  font-size: 30px;
}
.line3 {
  width: 30%;
  margin-left: 0;
  margin-top: 30px;
  color: #d9d9d9;
  border: 2px solid #d9d9d9;
}

.waterfont_im {
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.shwapno {
  height: 300px;
  width: 300px;
  margin-left: 40px;
  margin-right: auto;
  margin-top: 40px;
}

/* Career */
.nav {
  width: 100%;
  height: 100px;
  background-color: #bbbbbb;
  color: #bbbbbb;
}

.nav-career {
  display: flex;
  align-items: center;
  height: 100px;
  margin-left: 50%;
}

.job {
  color: #bbbbbb;
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.text_career {
  height: calc(50vh - 50px);
  /*display: flex;
    flex-direction: column;
    justify-content: center;*/
  margin-top: 100px;
}

.join_us {
  margin-top: 5px;
  text-transform: uppercase;
  padding: 10px;
  color: #4687c4;
  font-size: 20px;
  margin-bottom: 50px;
}

/* Summary */

.summary_head {
  color: #bbbbbb;
  margin-top: 20px;
  margin-left: 45%;
  font-size: 40px;
}

.summary_full {
  width: 75%;
  margin: 0 auto;
}

.summary-1 {
  width: 100%;
  background-color: black;
  margin-top: 20px;
  display: flex;
}

.edit-1 {
  display: block;
  margin-top: 90px;
}

.head-1 {
  font-size: 30px;
  color: #bbbbbb;
  text-decoration: none;
}
.para-1 {
  color: #bbbbbb;
}
.summary-1-pic {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.summary-2 {
  width: 100%;
  background-color: black;
  margin-top: 20px;
  display: flex;
}
.edit-2 {
  display: block;
  margin-top: 90px;
  margin-left: 160px;
}

.head-2 {
  font-size: 30px;
  color: #bbbbbb;
  text-decoration: none;
}
.para-2 {
  color: #bbbbbb;
}
.summary-2-pic {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.summary-3 {
  width: 100%;
  background-color: black;
  margin-top: 20px;
  display: flex;
  margin-bottom: 100px !important;
}
.edit-3 {
  display: block;
  margin-top: 90px;
}

.head-3 {
  font-size: 30px;
  color: #bbbbbb;
  text-decoration: none;
}
.para-3 {
  color: #bbbbbb;
}
.summary-3-pic {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.summary-4 {
  width: 100%;
  background-color: black;
  margin-top: 20px;
  display: flex;
  margin-bottom: 100px !important;
}
.edit-4 {
  display: block;
  margin-top: 90px;
  margin-left: 160px;
}

.head-4 {
  font-size: 30px;
  color: #bbbbbb;
  text-decoration: none;
}
.para-4 {
  color: #bbbbbb;
}
.summary-4-pic {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.summary-5 {
  width: 100%;
  background-color: black;
  margin-top: 20px;
  display: flex;
  margin-bottom: 100px !important;
}
.edit-5 {
  display: block;
  margin-top: 90px;
}

.head-5 {
  font-size: 30px;
  color: #bbbbbb;
  text-decoration: none;
}
.para-5 {
  color: #bbbbbb;
}
.summary-5-pic {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* About Us */

/*.about {
    font-size: 30px;
    text-align: center;
    color: white;
    margin-top: 30px;
  }*/

.about-us {
  height: 100vh;
  position: relative;
}

.logo_ {
  height: 300px;
}

.animation {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.animation span {
  text-transform: uppercase;
  display: block;
}
@keyframes text {
  0% {
    color: black;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}

.text1 {
  color: #bbbbbb;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  background: black;
  position: relative;
  animation: text 3s infinite;
}

.text2 {
  font-size: 30px;
  color: #4687c4;
}

/* Who we are */

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 75px;
}
.pic {
  width: 450px;
  position: relative;
}
.im {
  width: 100%;
  display: block;
  margin: auto;
  height: 500px;
}

.content {
  width: 100%;
  /* height: 100vh; */
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
  padding: 20%;
}
.content:hover {
  opacity: 1;
}

.content h2 {
  font-size: 40px;
  color: #4687c4;
  margin: 10px;
}
.content h1 {
  font-size: 32px;
  color: #bbbbbb;
  margin: 10px;
}

.content para {
  font-size: 21px;
  color: #bbbbbb;
}

.content > * {
  transform: translateY(25px);
  transition: transform 0.6s;
}

.content:hover > * {
  transform: translateY(0px);
}

.d_none_mobile {
  display: none;
}

@media only screen and (max-width: 481px) {

  .bar {
    display: none; 
  }

  .container {
    width: 95%;
  }
  .font_im {
    height: 200px;
    width: 100%;
  }
  .main_container {
    display: block;
  }

  .info {
    margin-top: 20px;
    font-size: 24px;
    margin-left: 0;
  }
  .detail {
    margin-top: 30px;
    margin-right: 0;
  }
  .Give_us_shout {
    margin-top: 20px;
    display: block;
  }
  .vertical_line {
    display: none;
  }
  .info-2 {
    margin-top: 0;
  }

  .form-control {
    width: 100%;
  }
  .social-links {
    margin-top: 15px;
  }
  .social {
    width: 30px;
    height: 30px;
  }
  .copyright {
    font-size: 12px;
  }

  /*second_page */

  .box-title {
    font-size: 24px;
  }
  .sub {
    font-size: 14px;
  }
  .arrow {
    width: 60px;
  }

  /* third_page */

  .serve-container {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .serve {
    padding: 70px 20px; 
    flex-grow: 1;
  }
  
  .heading {
    font-size: 36px;
    color: #4687c4;
  }
  
  .line2 {
    width: 35%;
    margin-left: 0;
    margin-top: 20px; 
    color: #d9d9d9;
    border: 2px solid #d9d9d9;
  }
  
  .para {
    margin-top: 20px; 
    color: #d9d9d9;
    font-size: 16px; 
  }
  
  .edit {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .next img {
    transform: rotate(270deg); 
    height: 20px; 
    margin: 10px; 
  }
  
  .arrow-up img,
  .arrow-down img {
    height: 20px; 
    margin: 10px 10; 
  }
  

  /* client */

  .waterfont_im {
    height: 150px;
    width: 150px;
  }
  .shwapno {
    height: 150px;
    width: 150px;
    margin-left: 20px;
  }

  .client_container {
    width: 100%;
    background-color: black;
    margin-top: 50px;
  }

  .arr-right {
    margin-left: 60px;
  }

  /*technology */

  .head_container {
    width: 100%;
    background-color: black;
    margin-top: 60px;
    display: block;
  }

  .sticky_parent {
    height: 0;
    display: none;
  }
  .sticky {
    height: 0;
    display: none;
  }

  .scroll_section {
    height: 0;
  }

  .tech_im {
    height: 200px;
    width: 350px;
  }

  /* scroll */
  .d_none_mobile {
    display: block;
  }

  /* Career */

  .career_m {
    display: none;
  }

  /* who we are */

  .wrapper {

    margin-top: 2px;
  }

  

  /* Summary */

  .summary_head {
    margin-left: 35%;
  }

  .summary-1 {
    display: block;
  }

  .para-1 {
    color: #bbbbbb;
  }
  .summary-1-pic {
    height: 200px;
  }
  .pics-1 {
    height: 200px;
    width: 300px;
    margin-top: 20px;
  }

  .summary-2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .edit-2 {
    margin-left: auto;
  }

.summary-2-pic {
  height: 200px;
}

.pics-2 {
  height: 200px;
  width: 300px;
  margin-top: 20px;
}
.summary-3 {
  display: block;
}
.edit-3 {
  display: block;
  margin-top: 90px;
}

.summary-3-pic {
  height: 200px;
}
.pics-3 {
  height: 200px;
  width: 300px;
  margin-top: 20px;
}
.summary-4 {
  display: flex;
  flex-direction: column-reverse;
}
.edit-4 {
  display: block;
  margin-top: 30px;
  margin-left: auto;
}

.summary-4-pic {
  height: 200px;
}
.pics-4 {
  height: 200px;
  width: 300px;
  margin-top: 20px;
}

.summary-5 {
  width: 100%;
  background-color: black;
  margin-top: 20px;
  display: block;
  margin-bottom: 100px !important;
}
.edit-5 {
  display: block;
  margin-top: 90px;
}

.head-5 {
  font-size: 30px;
  color: #bbbbbb;
  text-decoration: none;
}
.para-5 {
  color: #bbbbbb;
}
.summary-5-pic {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
.pics-5 {
  height: 200px;
  width: 300px;
  margin-top: 20px;
}



.summary_head {
  margin-left: 35%;
}

.summary-1 {
  display: block;
}

.para-1 {
  color: #bbbbbb;
}
.summary-1-pic {
  height: 200px;
}
.pics-1 {
  height: 200px;
  width: 300px;
  margin-top: 20px;
}

.summary-2 {
  display: flex;
  flex-direction: column-reverse;
}
.edit-2 {
  margin-left: auto;
}

.summary-2-pic {
height: 200px;
}

.pics-2 {
height: 200px;
width: 300px;
margin-top: 20px;
}
.summary-3 {
display: block;
}
.edit-3 {
display: block;
margin-top: 90px;
}

.summary-3-pic {
height: 200px;
}
.pics-3 {
height: 200px;
width: 300px;
margin-top: 20px;
}
.summary-4 {
display: flex;
flex-direction: column-reverse;
}
.edit-4 {
display: block;
margin-top: 30px;
margin-left: auto;
}

.summary-4-pic {
height: 200px;
}
.pics-4 {
height: 200px;
width: 300px;
margin-top: 20px;
}

.summary-5 {
width: 100%;
background-color: black;
margin-top: 20px;
display: block;
margin-bottom: 100px !important;
}
.edit-5 {
display: block;
margin-top: 90px;
}

.head-5 {
font-size: 30px;
color: #bbbbbb;
text-decoration: none;
}
.para-5 {
color: #bbbbbb;
}
.summary-5-pic {
height: 200px;
margin-left: auto;
margin-right: auto;
}
.pics-5 {
height: 200px;
width: 300px;
margin-top: 20px;
}
}
